.photo-fav-button {
  cursor: pointer;
  transition: color 0.3s;
  background: none;
  border: none;
  padding: 0;
  outline: none;
}

.photo-fav-button.active {
  color: red; // Active state color (liked)
}

.photo-fav-button.inactive {
  color: gray; // Inactive state color (not liked)
}
